### Intro to data science with pokemon 
***

Arrays

In [7]:
food = ['ham', 'cheese', 'bread', 'mayo', 'lettuce', 'tomatoes']

In [8]:
print(food)

['ham', 'cheese', 'bread', 'mayo', 'lettuce', 'tomatoes']

In [9]:
print(food[0])

ham

In [10]:
print(food[5])

tomatoes

In [11]:
print(food[4])

lettuce

In [12]:
sliced_food = food[0:2]

In [13]:
print(sliced_food)

['ham', 'cheese']

### Import Libaries
***

In [14]:
import pandas as pd
import numpy as py
import seaborn as sb

In [15]:
print("pandas version" + pd.__version__)
print("numpy version" + py.__version__)
print("seaborn version" + sb.__version__)

pandas version2.1.3
numpy version1.26.2
seaborn version0.13.0

### loading data
***

In [16]:
df = pd.read_csv("pokemon.csv")

### Displaying Full Data frames
***

In [20]:
pd.set_option('display.max_rows', 20)

In [21]:
df.head(100)

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,105.0,96.0,Drowzee,60,48,45,43,90,42,328,...,190,1000000,NaN,105.0,96.0,87.0,NaN,NaN,NaN,Drowzee
96,106.0,97.0,Hypno,85,73,70,73,115,67,483,...,75,1000000,Lv. 26,106.0,97.0,88.0,NaN,NaN,NaN,Hypno
97,107.0,98.0,Krabby,30,105,90,25,25,50,325,...,225,1000000,NaN,107.0,98.0,164.0,NaN,NaN,NaN,Krabby
98,108.0,99.0,Kingler,55,130,115,50,50,75,475,...,60,1000000,Lv. 28,108.0,99.0,165.0,NaN,NaN,NaN,Kingler
99,109.0,100.0,Voltorb,40,30,50,55,55,100,330,...,190,1000000,NaN,109.0,100.0,120.0,84.0,NaN,NaN,Voltorb

### Accquiring columns
***

In [22]:
df.Pokemon

0         Bulbasaur
1           Ivysaur
2          Venusaur
3        Charmander
4        Charmeleon
           ...
658          Kyurem
659          Keldeo
660    Meloetta (A)
661    Meloetta (P)
662        Genesect
Name: Pokemon, Length: 663, dtype: object

### Accessing multiple columns
***

You can access multiple columns using a variable.

In [24]:
pokemon_Atk_Hp + df[['Pokemon', 'HP' , 'ATK']]

NameError: name 'pokemon_Atk_Hp' is not defined

### Slicing rows and columns
***

In [25]:
rows_zero_to_ten

NameError: name 'rows_zero_to_ten' is not defined

### Useful PANDAS Method
***

### filtering data
***

In [ ]:
special_attack_70 = df.df[